#togglePassword,
#toggleConfirmPassword {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

::ng-deep .datta-rtl #togglePassword,
::ng-deep .datta-rtl #toggleConfirmPassword {
  right: auto;
  left: 15px;
}