<section class="page-header">
  <div class="page-header-title">
    <h5>Aluguel</h5>
  </div>
  <div class="page-header-breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home"><i class="feather icon-home"></i></a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/financeiro">Financeiro</a>
      </li>
      <li class="breadcrumb-item">Aluguel</li>
    </ul>
  </div>
</section>

<div class="row">
  <div class="col-xl-5 col-lg-6 mb-4">
    <div class="rent-card shadow-sm">
      <div class="rent-card__accent"></div>
      <div class="rent-card__body">
        <p class="rent-card__label">Aluguel</p>
        <h3 class="rent-card__value">{{ formattedRent() }}</h3>
        <p class="rent-card__caption">Valor de aluguel configurado.</p>
      </div>
    </div>
  </div>
</div>
