:host {
  display: block;
}

button.nav-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

button.nav-link:hover {
  color: inherit;
}

.navbar-nav.ms-auto {
  margin-left: auto;
  justify-content: flex-end;
}
