<nav>
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a routerLink="/home" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-heart"></i>
        </div>
        <span class="b-title">Senior Care</span>
      </a>
    </div>
    <div class="scroll-div">
      <div class="navbar-content">
        <ul class="nav pcoded-inner-navbar">
          <li class="nav-item pcoded-menu-caption">
            <span class="menu-caption-text">Navegação</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
              <span class="pcoded-micon">
                <i class="feather icon-home"></i>
              </span>
              <span class="pcoded-mtext">Home</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/patient-configurator">
              <span class="pcoded-micon">
                <i class="feather icon-settings"></i>
              </span>
              <span class="pcoded-mtext">Configurador</span>
            </a>
          </li>
          @if (isAdmin()) {
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/users">
                <span class="pcoded-micon">
                  <i class="feather icon-users"></i>
                </span>
                <span class="pcoded-mtext">Usuários</span>
              </a>
            </li>
          }
          @if (isAdmin() || isManager()) {
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/financeiro">
                <span class="pcoded-micon">
                  <i class="feather icon-dollar-sign"></i>
                </span>
                <span class="pcoded-mtext">Financeiro</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/funcionarios">
                <span class="pcoded-micon">
                  <i class="feather icon-user-check"></i>
                </span>
                <span class="pcoded-mtext">Funcionários</span>
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
