<nav>
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a routerLink="/home" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-heart"></i>
        </div>
        <span class="b-title">Senior Care</span>
      </a>
    </div>
    <div class="scroll-div">
      <div class="navbar-content">
        <ul class="nav pcoded-inner-navbar">
          <li class="nav-item pcoded-menu-caption">
            <label>Navegação</label>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
              <span class="pcoded-micon">
                <i class="feather icon-home"></i>
              </span>
              <span class="pcoded-mtext">Home</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/patient-configurator">
              <span class="pcoded-micon">
                <i class="feather icon-settings"></i>
              </span>
              <span class="pcoded-mtext">Configurador</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
